Repository acm-ucr/pad-website, pull requests merged in 2023-08, with the labels that each got.

#55 Added Contact Link Tree
  src/app/contacts/page.js
  src/components/ContactLinkTree.jsx
Labels: Contacts Page, Ready To Review

#54 pull
  src/app/about/page.js
  src/components/CoreValueCard.jsx
  src/components/CoreValueCards.jsx
Labels: Join Page, Ready To Review

#53 pull
  src/app/about/page.js
  src/components/CoreValueCard.jsx
  src/components/CoreValueCards.jsx
Labels: About Page, Ready To Review

#59 mobile res
  src/app/board/page.js
  src/app/join/page.js
  src/components/CoreValueTitle.jsx
  src/components/CoreValues.jsx
  src/components/HowToJoin.jsx
  src/components/UCRBenefits.jsx
Labels: Home Page, Ready To Review

#62 Added event descriptions
  src/app/events/page.js
  src/components/EventDescription.jsx
Labels: Events Page

#61 picture core
  src/components/CoreValueTitle.jsx
  src/components/CoreValues.jsx
  src/components/CourValuesSection.jsx
Labels: About Page, Ready To Review

#60 Stormyy00/carousel
  src/app/about/page.js
  src/components/Board.jsx
  src/components/PictureCarousel.jsx
Labels: Ready To Review

#71 crated map board
  src/app/board/page.js
  src/components/Board.jsx
  src/components/Title.jsx
Labels: Ready To Review

#85 National Benefits
  src/app/join/page.js
  src/components/NationalBenefits.jsx
Labels: Join Page

#90 Sreeja pagireddy/404
  src/app/not-found.js
  src/components/Title.jsx
Labels: Ready To Review, 404 page

#89 "join us" spacing change
  src/components/AboutSection.jsx
  src/components/Landing.jsx
  src/components/Navigation.jsx
Labels: Ready To Review

#91 Footer mobile responsiveness
  src/components/Footer.jsx
Labels: Footer

#96 About section animation
  package-lock.json
  package.json
  src/components/home/AboutSection.jsx
Labels: Home Page, animation

#97 Stormyy00/core animation
  src/components/home/CoreValueTitle.jsx
  src/components/home/CoreValues.jsx
  src/components/home/CourValuesSection.jsx
Labels: Ready To Review

#92 calandar works
  src/components/Calendar.jsx
  src/components/CustomEvents.jsx
  src/components/CustomToolbar.jsx
  src/components/EventsContext.jsx
  src/components/Filter.jsx
  src/components/Filters.jsx
Labels: Ready To Review
