Repository acm-ucr/pad-website, pull requests merged in 2023-07, with the labels that each got.

#22 Added navbar
  src/components/Navigation.jsx
Labels: Navigation, Ready To Review

#26 Core Value Title
  src/app/page.js
  src/components/CoreValueTitle.jsx
Labels: Home Page

#25 Added navbar
  src/components/Navigation.jsx
Labels: Navigation, Ready To Review

#28 About Us Page
  src/components/AboutSection.jsx
  tailwind.config.js
Labels: About Page, Ready To Review

#30 Added declaration of purpose
  src/components/DeclarationOfPurpose.jsx
Labels: Home Page

#27 landing page
  src/components/Landing.jsx
Labels: Home Page, Ready To Review

#29 footer
  src/components/Footer.jsx
Labels: Footer, Ready To Review

#32 Hannahjli/core value
  src/app/about/page.js
  src/components/CoreValueCard.jsx
  src/components/CoreValueCards.jsx
Labels: Ready To Review

#31 title
  src/app/about/page.js
  src/components/Title.jsx
  tailwind.config.js
Labels: About Page, Ready To Review

#44 Added core values
  package-lock.json
  package.json
  src/components/CoreValues.jsx
  src/components/CourValuesSection.jsx
Labels: Home Page

#43 header done
  next.config.js
  src/app/page.js
  src/components/Footer.jsx
  src/components/Header.jsx
Labels: About Page, Events Page, Board Page, Contacts Page, Join Page, Ready To Review

#47 Stormyy00/board
  src/app/board/page.js
  src/app/join/page.js
  src/components/Board.jsx
  src/components/UCRBenefits.jsx
Labels: Ready To Review

#49 fix nav
  src/components/Navigation.jsx
Labels: Navigation

#51 picture
  src/app/board/page.js
  src/components/Boxessvg.jsx
  src/components/Picture.jsx
Labels: Ready To Review
