Repository acm-ucr/pad-website, pull requests merged in 2023-09, with the labels that each got.

#99 Populate About page
  src/app/about/page.js
  src/components/about/PictureCarousel.jsx
Labels: About Page

#107 Board Animation
  package-lock.json
  src/components/board/Boards.jsx
Labels: Board Page

#109 Header Animated
  src/components/Header.jsx
Labels: animation

#121 Font size fix
  src/components/home/CoreValueTitle.jsx
  src/components/home/DeclarationOfPurpose.jsx
Labels: Home Page
